root {
	margin: 0;
}

.service-header {
	text-align: center;
	margin-top: 30px;
	color: gray;
}

.service-container {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.services {
	width: 75%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.service {
	border: 2px solid black;
	border-radius: 10px;
	padding: 15px;
	display: grid;
	place-items: center;
	box-shadow: 5px 5px 10px grey;
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
	.services {
		width: 75%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}
}

@media only screen and (max-width: 688px) {
	.services {
		width: 75%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}
}
